<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>星降こゆ楽曲リスト</title>
    <meta name="description" content="こゆちゃんが歌った楽曲のリストです。楽曲名を(PCなら)マウスオーバーか(スマホなら)タップし、表示される日付(配信日)をクリックするとYouTubeで楽曲を聴くことができます。"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&amp;display=swap">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPHR4CXPE7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MPHR4CXPE7');
    </script>
</head>
<body>
    <div class="container">
        <h1>星降こゆの歌った楽曲リスト</h1>
        <p class="description">
            こゆちゃんが歌った楽曲のリストです。<br>
            楽曲名を(PCなら)マウスオーバーか(スマホなら)タップし、<br>
            表示される日付(配信日)をクリックすると、<br>
            YouTubeで楽曲を聴くことができます。<br>
            また、<div class="playbutton">▶</div>ボタンを押すと右下のストリーミングボックスで楽曲が流れます。
        </p>
        <p id="music_count"></p>
        <div class="sort_button">
            <div class="sort_menu" onclick="toggle('sort_button')">ソート：</div>
            <ul>
                <li id="sort_date"><div>初回日付でソート</div></li>
                <li id="sort_new_date"><div>最新日付でソート</div></li>
                <li id="sort_title"><div>タイトルでソート</div></li>
                <li id="sort_artist"><div>アーティスト名でソート</div></li>
                <li id="sort_count"><div>歌った回数でソート</div></li>
            </ul>
        </div>
        <div class="th">曲名/アーティスト名 <div class="description">※マウスオーバーかタップで日付とリンクを表示</div></div>
        <ul class="music-list"></ul>
    </div>
    <div class="streaming" id="streaming"></div>
    <div class="tweet-box">
        <button onclick="this.parentElement.style.display='none'">閉じる</button>
        ${blockquotes}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="form-link">
        <a href="https://www.youtube.com/@koyuchan_">YouTubeチャンネルページに移動</a>
    </div>
</body>
</html>