<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Music Link Form</title>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <h1>Music Link Input Request Form</h1>
    <label for="title_and_artist">Title / Artist:</label><br>
    <input type="text" id="title_and_artist" name="title_and_artist" placeholder="Title / Artist" required><br><br>
    <input type="button" value="Search" onclick="splitTitleAndArtist()"><br><br>
    <form method="post" action="{{ url_for('register') }}" id="musicForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" required><br><br>
        
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" required><br><br>
        
        <label for="date">DATE:</label>
        <input type="text" id="date" name="date" placeholder="YYYY-MM-DD" required><br><br>
                
        <input type="submit" value="Submit">
    </form>
</body>
</html>